@charset "utf-8";
@import "normalize";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.55;
  color: #222;
}

a {
    color: #222;
    &:hover,
    &:active {
        color: #BF352F;
    }
}


.inner {

    padding: 0 1em 3em;
    
    @media (min-width: 800px) {
        width: 800px;
        margin: auto;
        padding: 2em 0 3em;
    }
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;

    li {
        display: inline-block;
    }

    a {
        display: block;
        width: 3em;
        border-radius: 50%;
        height: 3em;
        line-height: 3;
        text-align: center;
        text-decoration: none;
        color: #CE5959;
        &:hover,
        &:active {
            background: #FFF0D9;
        }
    }
}

.flex {
    @media (min-width: 800px) {
        display: flex;

        div ~ img,
        img ~ div {
            margin-left: 2.5em;
        }
    }
}

h1 {
    margin-top: 0;
    font-size: 4rem;
}
h2 {
    font-size: 1.5rem;
}

aside,
footer,
section:first-of-type {
    background: #E8A79A;
}

section:nth-of-type(3),
section:nth-of-type(5) {
    background: #FFF0D9;
}

img {
    max-width: 100%;
}
.center {
    display: block;
    margin: auto;
    margin-top: 5em;
}

@import "nav-highlight";
